tex/Eve_Ecy_Gla_stresses*.aux
tex/Eve_Ecy_Gla_stresses*.bbl
tex/Eve_Ecy_Gla_stresses*.bcf
tex/Eve_Ecy_Gla_stresses*.blg
tex/Eve_Ecy_Gla_stresses*.log
tex/Eve_Ecy_Gla_stresses*.out
tex/Eve_Ecy_Gla_stresses*.run.xml
tex/Eve_Ecy_Gla_stresses*.synctex.gz
tex/Eve_Ecy_Gla_stresses_suppl.aux
tex/Eve_Ecy_Gla_stresses_suppl.bbl
tex/Eve_Ecy_Gla_stresses_suppl.bcf
tex/Eve_Ecy_Gla_stresses_suppl.blg
tex/Eve_Ecy_Gla_stresses_suppl.log
tex/Eve_Ecy_Gla_stresses_suppl.out
tex/Eve_Ecy_Gla_stresses_suppl.run.xml
tex/Eve_Ecy_Gla_stresses_suppl.synctex.gz

tex/Additional_file_1.aux
tex/Additional_file_1.bbl
tex/Additional_file_1.bcf
tex/Additional_file_1.blg
tex/Additional_file_1.log
tex/Additional_file_1.out
tex/Additional_file_1.run.xml
tex/Additional_file_1.synctex.gz
